/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f4f4f9;
  background-image: url("logo-remove-bg.png");
  background-color: rgba(97, 154, 230, 0.486);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 65% 75%;
}

h6{
  margin-top: -35px;
  margin-left: 15px;
}

.box {
    width: 100%;              /* Adjust container width as needed */
    padding-top: 30px;
    height: 20px;
    border: 10px solid white;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .content {
    display: flex;           
    align-items: center;     
    flex-grow: 1;           
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the icons to the right */
  }
  
  .welcome-message {
    margin-left: 5px;
    font-weight: bold;
  }
  
  .notification-icon, .chat-icon, .personal-icon {
    position: relative;
    margin-left: 20px; 
    cursor: pointer;
    font-size: 15px;
    margin-top: -30px; 
  }
  
  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  
  .notification-dropdown, .chat-dropdown, .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    min-width: 160px;
    z-index: 1;
  }
  
  .notification-item, .chat-item, .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .notification-item:hover, .chat-item:hover, .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .site-logo {
    width: 50px;               /* Makes the logo fill the container width */
    height: 50px;              /* Maintains the aspect ratio */
  
    display: flex;         /* Optional: limits the maximum width */
    justify-content: start;
    margin-top: -45px;
    margin-left: -2px;
  }
  

.sidebar {
  position: fixed;
  width: 270px;
  margin: 100px;
  border-radius: 0px;
  background: #0b409c;
  height: 100vh;
  transition: all 0.4s ease;
  margin-left: -10px;
  margin-top: 50px;

}

.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151a2d;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-link:hover {
  color: #151a2d;
  background: #fff;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151a2d;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

/* Main content's transition when the sidebar is collapsed/expanded */
.main {
  position: fixed;
  margin-left: 300px; /* Initial offset when sidebar is expanded */
  margin-top: 20px;
  transition: all 0.4s ease; /* Smooth transition */
}

.sidebar.collapsed + .main {
  margin-left: 300px; /* Adjust this to match the collapsed sidebar width */
}

/* Responsive media query code for small screens */
@media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    margin: 13px;
    overflow-y: hidden;
    scrollbar-width: none;
    width: calc(100% - 26px);
    max-height: calc(100vh - 26px);
  }

  .sidebar.menu-active {
    overflow-y: auto;
  }

  .sidebar .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    border-radius: 16px;
    background: #151a2d;
    padding: 8px 10px;
  }

  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }

  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-item:hover .nav-tooltip {
    display: none;
  }

  .sidebar-header .menu-toggler {
    display: flex;
    height: 30px;
    width: 30px;
  }

  .sidebar-header .menu-toggler span {
    font-size: 1.3rem;
  }

  .sidebar .sidebar-nav .nav-list {
    padding: 0 10px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }

  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  }

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: black;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 7px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: white;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: white;
  }
}

.sidebar-header .welcome {
  text-align: left;
  margin-left: 10px;
  color: white;
  margin-top: 100px;
}

.logs {
  display: flex;
}

.dotted {
  margin-left: 5px;
}

.welcome {
  position: absolute;
  top: -70px; /* Move it a little higher from the default position */
  left: 50%; /* Keep it centered horizontally */
  transform: translateX(-50%); /* Center it correctly */
}

.main {
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-90%, -55%); /* Center the element */
    width: 400px; /* Fixed width for the form */
    background-color: white; /* White background for the form container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside the container */
    z-index: 10; /* Ensure it appears above other elements */
}

.bloom-container {
    width: 100%; /* Full width of the main container */
}

.nebula-title {
    font-size: 24px; /* Title font size */
    font-weight: 600; /* Bold title */
    margin-bottom: 20px; /* Space below the title */
    text-align: center; /* Center the title text */
}

.nova-input {
    margin-bottom: 15px; /* Space between input fields */
}

.comet-details {
    display: block; /* Make label take full width */
    margin-bottom: 5px; /* Space below the label */
    font-weight: 500; /* Medium weight for labels */
}

input[type="text"],
input[type="number"],
select {
    width: 100%; /* Full width for inputs and selects */
    padding: 10px; /* Padding inside inputs */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size for inputs */
}

input[type="submit"] {
    background-color: #0b409c; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Padding inside button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
    background-color: #0a3a7a; /* Darker shade on hover */
}